body{
   background-image: url(../background.png);
   background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

.container{
	width: 1023px;
	margin: 0 auto;
}

/* HEADER */

.header{
	margin-top: 51px;
	margin-bottom: 26px;
	display: flex;
	justify-content: space-between;
}

.header-logo{
	display: flex;
}



.header-name{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.logo{
	padding-right: 8px;
}

.header-logo:hover .logo{
	content: url(../img/logo_gover.png);
}

.header-first-word{
	font-weight: bold;
	font-size: 29px;
	line-height: 29px;
	color: #FFFFFF;
	text-decoration: none;
}

.header-logo:hover .header-first-word{
	color: #F26522;
}

.header-second-word{
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	color: #FFFFFF;
	text-decoration: none;
}

.header-logo:hover .header-second-word{
	color: #F26522;
}

.contacts{
	text-decoration: none;
	font-size: 18px;
	line-height: 18px;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
}

.contacts:not(:last-child){
	padding-bottom: 19px;
}

.contacts:hover{
	color: #F26522;
	transition: 0.5s;
}

/* MAIN */

.main-tours{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 37px;
	margin-bottom: 49px;
}
.tours-image{
	width: 100%;
	height: 222px;
  	border-style: solid;
  	border-image: 
    linear-gradient(
      to bottom, 
      white, 
      rgba(0, 0, 0, 0)
    ) 1 100%;
}

.tours-name{
	font-size: 18px;
	line-height: 18px;
	color: #FFFFFF;
	padding-top: 20px;
	text-align: center;
	/* background: linear-gradient(to right, black, white); */
}

/* HOVER */

.tours{
	text-decoration: none;
	position: relative;
	overflow: hidden;
}


.tours-info{
	color: #FFFFFF;
	background: #F26522;
	width: 100%;
    height: 55px;
	position: absolute;
	bottom: 20px;
	left: 0px;
	opacity: 0;
	overflow: hidden;
}

.photo-hover:hover .tours-info{
	opacity: 1;
	transition: 0.5s;
	bottom: 40px;
}


.photo-hover:hover .tours-name{
	color: #F26522;
	transition: 0.5s;
}

.from {
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 16px;
    font-size: 10px;
    line-height: 10px;
    grid-area: from;
}

.price {
    padding-left: 16px;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 20px;
    grid-area: price;
}

.details {
    padding-top: 29px;
    padding-left: 128px;
    text-align: end;
    font-size: 14px;
    line-height: 14px;
    grid-area: details;
}

.details::after{
	content: '';
	display: inline-block;
	width: 7px;
	height: 7px;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	transform: rotate(135deg);
	margin-left: 16px;
}
/* FOOTER */

.footer-text{
	font-size: 12px;
	line-height: 12px;
	text-align: center;
	color: #FFFFFF;
	padding-bottom: 15px;
}
